@model crud.Models.product

@{
    ViewBag.Title = "Create";
}
 
@Html.Raw(TempData["CreateMessage"])

@Html.Raw(TempData["SizeMessage"])

@Html.Raw(TempData["ExtensionMessage"])

<!doctype html>
<html lang="en">
<head>
    <title>ASSIGNMENT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
        .l{
            float:left;
            width:50%;
            
        }
        .r {
            float :right;
            width :20%;
        }
         .form-control.text-box.single-line {
            border: 1px solid black;
        }
        .form-control.text-box.multi-line{
                 border: 1px solid black;
      
        }
        #Product_Category {
            border: 1px solid black;
        }
        textarea{
        padding:10px 50px;    
        }
        body{
            margin:15px;
            padding:15px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <h1><a href="index.html" class="logo">PRODUCT MANAGMENT</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    @Html.ActionLink("Product List", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Add Product", "Create", "Home")
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">


            <div class="l" style="margin:10px;"> 
            <h1>Welcome @Session["Username"]</h1>
                </div >
            <div class="r">

                <h4>@Html.ActionLink("Logout", "Logout", "User")</h4>
            </div>
            <div style="margin-top:100px;">

                @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>product</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product_name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Product_name, new { htmlAttributes = new { @class = "form-control",@id=" focusedInput"} })
                                @Html.ValidationMessageFor(model => model.Product_name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Product_Category, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.DropDownListFor(model => model.Product_Category, new SelectList(new[] { "Small", "Medium", "Large" }), "Select Category", new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.Product_Category, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Product_Price, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Product_Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Product_Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Product_Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Product_Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Product_Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Short_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Short_Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Short_Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Long_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Long_Description, new { htmlAttributes = new { @class = "form-control"  } })
                                @Html.ValidationMessageFor(model => model.Long_Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Small_Image_path, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="SImageFile" required />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Large_Image_path, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="LImageFile" required />

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Add Product" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>



        </div>

        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/popper.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/main.js"></script>
</body>
</html>





 
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
